{% if tasks|length >= 1 %}
<table class="hover large-10 cell">
    <thead>
        <tr>
            <th class="text-center">Tarea</th>
            <th class="text-center">Prioridad</th>
            <th class="text-center">Horas presupuestadas</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.hours }}</td>
            <td>
                <div class="button-group grid-x grid-padding-x align-center-middle text-center">
                    <a href="{{ path('task_detail', {'id':task.id}) }}" class="success button">Ver</a>
                    {% if app.user != null and task.user.id == app.user.id%}
                        <a href="{{ path('task_edit', {'id':task.id}) }}" class="warning button">Editar</a>
                        <a href="{{ path('task_delete', {'id':task.id}) }}" class="alert button">Borrar</a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="grid-x grid-padding-x align-center-middle text-center" style="height: 20vh">
    <strong>No hay tareas disponibles</strong>
</div>
{% endif %}